                            </div>
                        </div>
                    </div>
                    <div class="mainContainer">
                        <div class="container lightBackground paddingBottom logo-wrapper">
                            {{#logos}}
                            <div class="wrapper municipalityLogos">
                                <h2>Deze dienst wordt mede mogelijk gemaakt door:</h2>
                                <img src="/static/img/gemeenten-logos/alblasserdam.png"/>
                                <img src="/static/img/gemeenten-logos/alkmaar.png"/>
                                <img src="/static/img/gemeenten-logos/almere.png"/>
                                <img src="/static/img/gemeenten-logos/amersfoort.png"/>
                                <img src="/static/img/gemeenten-logos/amsterdam.png"/>
                                <img src="/static/img/gemeenten-logos/arnhem.png"/>
                                <img src="/static/img/gemeenten-logos/boekel.png"/>
                                <img src="/static/img/gemeenten-logos/breda.png"/>
                                <img src="/static/img/gemeenten-logos/buren.png"/>
                                <img src="/static/img/gemeenten-logos/debilt.png"/>
                                <img src="/static/img/gemeenten-logos/denbosch.png"/>
                                <img src="/static/img/gemeenten-logos/deventer.png"/>
                                <img src="/static/img/gemeenten-logos/dordrecht.png"/>
                                <img src="/static/img/gemeenten-logos/eindhoven.png"/>
                                <img src="/static/img/gemeenten-logos/emmen.png"/>
                                <img src="/static/img/gemeenten-logos/enschede.png"/>
                                <img src="/static/img/gemeenten-logos/groningen.png"/>
                                <img src="/static/img/gemeenten-logos/haarlem.png"/>
                                <img src="/static/img/gemeenten-logos/haarlemmermeer.png"/>
                                <img src="/static/img/gemeenten-logos/hardinxveld-giessendam.png"/>
                                <img src="/static/img/gemeenten-logos/heerenveen.png"/>
                                <img src="/static/img/gemeenten-logos/helmond.png"/>
                                <img src="/static/img/gemeenten-logos/hendrik-ido-ambacht.png"/>
                                <img src="/static/img/gemeenten-logos/meierijstad.png"/>
                                <img src="/static/img/gemeenten-logos/nijmegen.png"/>
                                <img src="/static/img/gemeenten-logos/oss.png"/>
                                <img src="/static/img/gemeenten-logos/papendrecht.png"/>
                                <img src="/static/img/gemeenten-logos/sliedrecht.png"/>
                                <img src="/static/img/gemeenten-logos/sudwest-fryslan.png"/>
                                <img src="/static/img/gemeenten-logos/utrecht.png"/>
                                <img src="/static/img/gemeenten-logos/zwijndrecht.png"/>
                            </div>
                            {{/logos}}
                        </div>
                        <footer class="nav-footer" id="footer">
                            <section class="sitemap">
                                <a href="" class="nav-home" class="opacity-1">
                                    <img src="/static/img/irmaLogo.png" alt="IRMA Laden" class="logo-size-72">
                                </a>
                            </section>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>