<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

        <title>Yivi - persoonsgevens</title>

        <meta name="viewport" content="width=device-width,initial-scale=1">

        <link rel="stylesheet" href="/static/styles/main.css"/>
        <link rel="icon" type="image/x-icon" href="static/img/favicon.ico">

    </head>
    <body>
        <header>
            <a href="#">
                <img class="logo-compact" src="static/img/yivi-logo-compact.svg" alt="Yivi - the identity wallet">
                <img class="logo-large" src="static/img/yivi-logo.svg" alt="Yivi - the identity wallet">
            </a>
            <a href="#"><img src="https://componenten.nijmegen.nl/v6.0.0/img/beeldmerklabel.svg" alt="Gemeente Nijmegen"></a>
        </header>