<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

        <title>Gegevens toevoegen aan IRMA</title>

        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <link rel="stylesheet" href="/static/styles/theme.css"/>
        <link rel="stylesheet" href="/static/styles/main.css"/>

    </head>
    <body>
        <div id="app">
            <div class="fixedHeaderContainer">
                <div class="headerWrapper wrapper">
                    <header>
                        <a href="https://privacybydesign.foundation/irma/" style="height: 50px;">
                            <img class="logo" src="/static/img/irmaLogo.png" alt="IRMA Laden">
                        </a>
                        <div class="navigationWrapper navigationSlider">
                            <nav class="slidingNav"></nav>
                        </div>
                    </header>
                </div>
            </div>
            <div class="navPusher">
                <div>
                    <div class="homeContainer">
                        <div class="homeSplashFade">
                            <div class="wrapper homeWrapper">
                           