{{>header}}

<div class="inner">
    <h1 class="projectTitle">Gegevens toevoegen aan YIVI</h1>
</div>

<div class="content">
    <br/>
    <br/>
    <p>Haal je persoonsgegevens en adres op via DigiD.<br/>Je logt in bij de Gemeente Nijmegen, ook als je niet in Nijmegen woont.</p>
    <p>De <b>gemeente Nijmegen</b> stelt deze gegevens beschikbaar voor iedereen in Nederland.</p>
</div>

<div class="link-wrapper">
    <a href="{{{authUrl}}}">
        <img src="static/img/digidLogo.png">
        <h3 class="link-test">Inloggen met DigiD</h3>
    </a>
</div>

{{>footer}}