{{>header}}


<div class="inner">
    <h1 class="projectTitle">Gegevens toevoegen aan IRMA</h1>
</div>


<div style="margin: 0px auto; max-width: 800px;">
    <br/>
    <br/>
    <p>Haal je persoonsgegevens en adres op via DigiD.<br/>Je logt in bij de Gemeente Nijmegen, ook als je niet in Nijmegen woont.</p>
    <p>De <b>gemeente Nijmegen</b> stelt deze gegevens beschikbaar voor iedereen in Nederland.</p>
</div>

<div style="display: flex; justify-content: space-between; flex-wrap: wrap; max-width: 600px; margin: 50px auto;">
    <div style="flex: 1 1 0%; min-width: 300px;">
        <a href="{{ authUrl }}">
            <img src="static/img/digidLogo.png">
            <h3 style="display: inline-block; position: relative; top: -15px; left: 15px;">Inloggen met DigiD</h3>
        </a>
    </div>
</div>

<!--
<main>
     START: template component(s)
    <div class="container" id="section-1">
            <h1>{{name}} Opladen</h1>
            <p class="lead">Login met DigiD en laad uw gegevens in de {{name}} app.</p>
            <a href="{{{authUrl}}}" class="btn btn-primary waves-effect waves-light display-table">
                <span class="title"> Inloggen </span><span class="assistive">via DigiD</span>
            </a>
        </div>
    </div>

     END: template component(s) 
</main>-->

{{>footer}}