{{>header}}
<main>
    <h1>Persoonsgegevens toevoegen</h1>
    <p>Log in via Digid om je persoonsgegevens en adres aan Yivi toe te voegen.</p>
    <p>Je gegevens worden opgehaald via de gemeente Nijmegen, ook als je daar niet woont. Je logt daarom in via Digid bij de gemeente Nijmegen.</p>
    <a href="{{{authUrl}}}" class="digid button">Voeg gegevens toe</a>
</main>
{{>footer}}