{{>header}}

<main>
    <!-- START: template component(s) -->
    <div class="container" id="section-1">
        <div class="row">
            <div class="col-12">
            <h1>{{name}} opladen</h1>
                <p class="lead">Laad uw persoonsgegevens in uw {{name}} app.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="irma-web-form"></div>
            </div>
        </div>
    </div>

    <!-- END: template component(s) -->
</main>


<script src="static/scripts/irma.js"></script>

<script>

    const session = JSON.parse('{{{irmaSession}}}');
    const irmaServer = '{{{irmaServer}}}';
    const sessionResultEndpoint = '{{{sessionResultEndpoint}}}';

    const exampleWeb = irma.newWeb({
            debugging: true,
            element: '#irma-web-form',
            session: {
                url: irmaServer,
                start: false,
                mapping: {
                    sessionPtr: r => { return session.sessionPtr },
                    sessionToken: r => { return session.token },
                },
                result: {
                    url:           (o, {sessionPtr, sessionToken}) => `${sessionResultEndpoint}?token=${sessionToken}`,
                    parseResponse: r => r.json()
                }
            },
            state: {
                serverSentEvents: false,
            }

        });

        exampleWeb.start()
            .then(result => console.log("Successful disclosure! 🎉", result))
            .catch(error => console.error("Couldn't do what you asked 😢", error));

</script>

{{>footer}}