{{>header}}

<style src="static/styles/irma.min.css"></style>

<main>
    <!-- START: template component(s) -->
    <div class="container" id="section-1">
        <div class="row">
            <div class="col-12">
            <h1>{{name}} opladen</h1>
                <p class="lead">Laad uw persoonsgegevens in uw {{name}} app.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="irma-web-form"></div>
            </div>
        </div>
    </div>

    <!-- END: template component(s) -->
</main>


<input id="session" type="hidden" value="{{{irmaSession}}}" />
<input id="irmaServer" type="hidden" value="{{{irmaServer}}}" />
<input id="sessionResultEndpoint" type="hidden" value="{{{sessionResultEndpoint}}}" />

<script src="static/scripts/irma.js"></script>
<script src="static/scripts/issue.js"></script>

{{>footer}}