html {
  font-family: 'Open sans', arial, sans-serif;
}
main {
  max-width: 70ch;
  padding: 1em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1em;
}

header {
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  gap: 1em;
}

header a {
  flex-shrink: 0;
}

header img {
  height: 3rem;
}

h1 {
  font-size: 1.25em;
  line-height: 1.4;
  margin: 1.5em 0 1em;
}

p  {
  margin-bottom: 2em;
  color: #1d1d1d;
  font-family: sans-serif;
}

img { 
  max-width: 100%;
}

.digid {
  display: flex;
  align-items: center;
  gap: .5em;
  font-size: 1.125em;
}

.digid::before {
  content: " ";
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  background: transparent url('static/img/digid.svg') left center no-repeat;
}